<div class="header-container">
  <img src="assets/UCB-blanco.png" />
</div>

@if(!estaJugando){
  <h1 >Selecciona un departamento para jugar mientras esperas</h1>
  <div class="contenedor">
      <button (click)="activarJuego('DAEF')" id="daef" mat-fab extended>
        Departamento de Administración, Economía y Finanzas
        <mat-icon>sports_esports</mat-icon>
      </button>
    <button (click)="activarJuego('DCEI')" id="dcei" mat-fab extended><mat-icon>sports_esports</mat-icon>
      Departamento de Ciencias Exactas e Ingenierías
    </button>
    <button (click)="activarJuego('DCSH')" id="dcsh" mat-fab extended><mat-icon>sports_esports</mat-icon>
      Departamento de Ciencias Sociales y Humanas
    </button>
    <button (click)="activarJuego('MED')" id="medicina" mat-fab extended><mat-icon>sports_esports</mat-icon>
      Departamento de Ciencias de la Salud
    </button>
  </div>

}
@if(estaJugando && departamento == "DAEF"){
<div class="genially-embed-container">
  <iframe
    src="https://view.genially.com/6669bcce29a8240014e1832d/interactive-content-secret-clue-game"
    frameborder="0"
    scrolling="no"
    allowfullscreen="true"
    height="900"
  ></iframe>
</div>
}
@if(estaJugando && departamento == "DCEI"){
<div class="genially-embed-container">
<iframe
src="https://view.genially.com/6669f7526ef83d00144a1f88/interactive-content-cognitive-stimulation-game-ii"
frameborder="0"
scrolling="no"
allowfullscreen="true"
height="900"
></iframe>
</div>
}
@if(estaJugando && departamento == "DCSH"){
<div class="genially-embed-container">
<iframe
src="https://view.genially.com/6669d340fc33a300141f6b47/interactive-content-secret-clue-game"
frameborder="0"
scrolling="no"
allowfullscreen="true"
height="900"
></iframe>
</div>
}
@if(estaJugando && departamento == "MED"){
<div class="genially-embed-container">
<iframe
src="https://view.genially.com/6668a82d306dba00147f4f6e/interactive-content-find-the-pairs"
frameborder="0"
scrolling="no"
allowfullscreen="true"
height="900"
></iframe>
</div>
}

@if(estaJugando){
  <div class="menu-container">
    <button (click)="volverAlMenu()" id="menu" mat-fab extended>
    Volver al Menú
    </button>
  </div>
}
<div class="header-container">
<img src="assets/UMKA.png"/>
</div>



